services:
  proxy:
    build : ./proxy
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      frontend:
        condition: service_healthy
      backend:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl -k -f https://localhost:443/healthz || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  frontend:
    build : ./frontend
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 80 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5

  backend:
    build: ./backend
    env_file :
      - .env
    volumes:
    - db_data:/app/data
    expose: 
      - "8000"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8000/healthz"]
      interval: 10s
      timeout: 3s
      retries: 5
    restart: unless-stopped


volumes:
  db_data: {}
  certs: {}
