route:
  receiver: 'webhook'
  group_by: ['alertname', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h

receivers:
  - name: 'webhook'
    webhook_configs:
      - url: 'http://host.docker.internal:5001/'
