global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
    - "rules/*.yml"
    - "rules/*.yaml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: 'grafana'
    scheme: http
    metrics_path: /grafana/metrics
    static_configs:
      - targets: ['grafana:3000']

  - job_name: gateway
    static_configs:
      - targets: ['gateway:8000']
        labels: { service: gateway }

  - job_name: 'svc-auth'
    static_configs: [{ targets: ['auth:8101'] }]

  - job_name: 'svc-game'
    static_configs: [{ targets: ['game:8102'] }]

  - job_name: 'svc-chat'
    static_configs: [{ targets: ['chat:8103'] }]

  - job_name: 'svc-tournament'
    static_configs: [{ targets: ['tournament:8104'] }]

  - job_name: 'svc-user'
    static_configs: [{ targets: ['user:8105'] }]

