global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: grafana
    static_configs:
      - targets: ["grafana:3000"]
    metrics_path: /metrics

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: backend
    metrics_path: /metrics
    static_configs:
      - targets: ["backend:8000"]
